<div class="page-container">
  <nz-card [nzBordered]="false">
    <form nz-form [nzLayout]="'inline'" class="search__form">
      <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
        <nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="txtsearch">搜索</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="会员名"
                id="txtsearch">
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col>
          <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'"
            [nzLoading]="loading">查询</button>
        </nz-col>
      </nz-row>
    </form>
    <form class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null">
      <se label="是否有效:" line>
        <nz-tag *ngFor="let i of StateArray; let idx = index" nzMode="checkable" [nzChecked]="i.active"
          (nzCheckedChange)="changeState($event, i)">
          {{i.name}}
        </nz-tag>
      </se>

    </form>
  </nz-card>
  <nz-card [nzBordered]="false">
    <ng-container>
      <nz-table #ajaxTable nzShowSizeChanger [nzData]="DataList" [(nzPageIndex)]="PageNum" [nzFrontPagination]="false"
        [(nzPageSize)]="PageSize" [nzTotal]="TotalCount" (nzPageIndexChange)="loadData()"
        (nzPageSizeChange)="loadData()">
        <thead>
          <tr>
            <th>退货申请时间</th>
            <th>退货人</th>
            <th>商品名称</th>
            <th>规格</th>
            <th>退货类型</th>
            <th>退货原因</th>
            <th>状态</th>
            <th>退货理由</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{data.createdate|mkdateformatpipe:'YYYY-MM-DD'}}</td>
            <td>{{data.rejectedname}}</td>
            <td>{{data.productname}}</td>
            <td>{{data.unitname}}</td>
            <td>{{data.rejectedtype_enum}}</td>
            <td>{{data.refusename}}</td>
            <td>{{data.isvalid_enum}}</td>
            <td>{{data.reason}}</td>
            <td>
              <a (click)="editItem(data)" *ngIf="data.isvalid==1">处理</a>
              <a (click)="editItem(data)" *ngIf="data.isvalid > 1">查看详情</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card>
</div>