.head-txt{
  margin:0px 18px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color:#0c0b0b;
}
.l-title{
  display: inline-block;
  width:90px;
  text-align: left;
  margin-right:10px;
}
.t-line{
  margin:8px;
  font-size: 14px;
}
.text-name{
  font-weight: 700;
  color:#0c0b0b;
}
.txtident1{
  text-indent: 27px;
  color:#474343;
}
.txtident2{
  text-indent: 20px;
  color:#474343;
}
.m-l-20{
  margin-left: 30px;
}

.m-l-25{
  margin-left: 25px;
}
.m-l-50{
  margin-left: 43px;
}

.w-580{
  width:580px;
}
.w-545{
  width:545px;
}
.w-200{
  width:200px;
}
.w-90{
  width:90px;
}

.ant-input-disabled{
  color:#333;
}
