<div class="page-container">
  <div class="content-wrap" style="width:100%;background: #fff;" [ngStyle]="{'height':changeHeight+'px'}">
    <as-split  [gutterSize]="5">
      <as-split-area size="20" style="min-width:230px;">
        <div class="addtype-but">
          <button nz-button nzType="primary" (click)="addClick()">添加类别</button>
        </div>
        <nz-tree [nzData]="TreeData" nzShowIcon="true" nzAsyncData="true" nzExpandAll="false"  (nzClick)="TreeItemClick($event)" (nzExpandChange)="TreeChild($event,null)">
        </nz-tree>
      </as-split-area>
      <as-split-area size="80">
        <nz-card [nzBordered]="false" nzTitle="类别编辑">
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="email">上级类别</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-tree-select name="pid" nzPlaceHolder="请选择.." [nzDefaultExpandedKeys]="expandKeys"
                  [nzDropdownMatchSelectWidth]="true" [nzDropdownStyle]="{ 'max-height': '300px' }" [(ngModel)]="model.pid"
                  [nzNodes]="SelTypeTreeData" [nzAsyncData]="true" (nzExpandChange)="TreeChild($event,'select')">
                </nz-tree-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="typeCode">类别编码</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="typeCode" type="text" id="typeCode" [(ngModel)]="model.typeCode">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="typeName">类别名称</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="typeName" type="text" id="typeName" [(ngModel)]="model.typeName">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="typeIcon">图标</nz-form-label>
              <nz-form-control [nzSpan]="8">
                  <div class="uploadImg col-sm-10">
                      <input #file type="file" id="file" name="file" (change)="getUpload($event)" class="form-control"
                        style="display:none;">
                      <div class="uploadBtn" (click)="upimg()" *ngIf="ShowUpload">上传图片</div>
                      <div class="imgBox" *ngIf="!ShowUpload">
                        <span class="closeBut" (click)="closeImg()">&times;</span>
                        <img [src]="ImageSrc" width="100%" height="auto" />
                      </div>
                    </div>
                <!-- <input nz-input name="typeIcon" type="text" id="typeIcon" [(ngModel)]="model.typeIcon"> -->
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="typeIndex">类别索引</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="typeIndex" type="text" id="typeIndex" [(ngModel)]="model.typeIndex">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="isvalid">是否有效</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid" >
                  <label nz-radio-button  *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="remark">备注</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <textarea nz-input placeholder="" name="remark" id="remark" nzAutosize [(ngModel)]="model.remark"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="8" [nzOffset]="4">
                <button nz-button nzType="primary" (click)="okClick()" type="submit" [nzLoading]="submitting">保存</button>
                <button nz-button class="ml-sm" (click)="deleteClick()">删除</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-card>
      </as-split-area>
    </as-split>
  </div>
</div>