<form nz-form #f="ngForm" class="mform" se-container="3" gutter="32">
    <nz-divider nzDashed [nzText]="'基本信息'" [nzOrientation]="'left'"></nz-divider>
    <se label="中文名">
      <input type="text" name="username" nz-input [(ngModel)]="model.username" />
    </se>
    <se label="姓名拼音">
      <input type="text" name="namepy" nz-input [(ngModel)]="model.namepy" />
    </se>
    <se label="性别">
      <input type="text" name="sexy" nz-input [(ngModel)]="model.sexy" />
    </se>
    <se label="证件类型">
      <input type="text" name="cardtype" nz-input [(ngModel)]="model.cardtype" />
    </se>
    <se label="证号号码">
      <input type="text" name="cardnum" nz-input [(ngModel)]="model.cardnum" />
    </se>
    <se label="国籍">
      <input type="text" name="country" nz-input [(ngModel)]="model.country" />
    </se>
    <se label="证件有效期">
      <input type="text" name="cardvaliddate" nz-input [(ngModel)]="model.cardvaliddate" />
    </se>
    <se label="婚姻状况">
      <input type="text" name="marry" nz-input [(ngModel)]="model.marry" />
    </se>
    <se label="受教育程度">
      <input type="text" name="sjycd" nz-input [(ngModel)]="model.sjycd" />
    </se>
    <se label="手机号">
      <input type="text" name="mobile" nz-input [(ngModel)]="model.mobile" />
    </se>
    <se label="住宅">
      <input type="text" name="homeaddress" nz-input [(ngModel)]="model.homeaddress" />
    </se>
    <se label="住宅（详细地址）">
      <input type="text" name="moreaddress" nz-input [(ngModel)]="model.moreaddress" />
    </se>
    <se label="住宅电话">
      <input type="text" name="zzdh" nz-input [(ngModel)]="model.zzdh" />
    </se>
    <se label="邮政编码">
      <input type="text" name="yzbm" nz-input [(ngModel)]="model.yzbm" />
    </se>
    <se label="住宅情况">
      <input type="text" name="zzqk" nz-input [(ngModel)]="model.zzqk" />
    </se>
    <se label="入住时期">
      <input type="text" name="rzsq" nz-input [(ngModel)]="model.rzsq" />
    </se>
    <se label="自购车情况">
      <input type="text" name="zgcqk" nz-input [(ngModel)]="model.zgcqk" />
    </se>
    <se label="本人年收入">
      <input type="text" name="brnsl" nz-input [(ngModel)]="model.brnsl" />
    </se>
    <nz-divider nzDashed [nzText]="'单位信息'" [nzOrientation]="'left'"></nz-divider>
    <se label="单位名称">
      <input type="text" name="dwmc" nz-input [(ngModel)]="model.dwmc" />
    </se>
    <se label="单位地址">
      <input type="text" name="dwdz" nz-input [(ngModel)]="model.dwdz" />
    </se>
    <se label="单位（详细地址）">
      <input type="text" name="dwxzdz" nz-input [(ngModel)]="model.dwxzdz" />
    </se>
    <se label="单位电话">
      <input type="text" name="dwdh" nz-input [(ngModel)]="model.dwdh" />
    </se>
    <se label="单位邮政编码">
      <input type="text" name="dwyzbm" nz-input [(ngModel)]="model.dwyzbm" />
    </se>
    <se label="单位性质">
      <input type="text" name="dwxz" nz-input [(ngModel)]="model.dwxz" />
    </se>
    <se label="职业">
      <input type="text" name="zz" nz-input [(ngModel)]="model.zz" />
    </se>
    <se label="职务">
      <input type="text" name="zw" nz-input [(ngModel)]="model.zw" />
    </se>
    <se label="入职时间">
      <input type="text" name="rzsj" nz-input [(ngModel)]="model.rzsj" />
    </se>
  </form>