<form nz-form #f="ngForm" class="mform" se-container="3" gutter="32">
    <se label="提车时间">
      <input type="text" name="liteingdate" nz-input [(ngModel)]="model.liteingdate" />
    </se>
    <se label="厂牌型号">
      <input type="text" name="cjxh" nz-input [(ngModel)]="model.cjxh" />
    </se>
    <se label="排量">
      <input type="text" name="pl" nz-input [(ngModel)]="model.pl" />
    </se>
    <se label="功率">
      <input type="text" name="gl" nz-input [(ngModel)]="model.gl" />
    </se>
    <se label="底盘后6位">
      <input type="text" name="dPH6W" nz-input [(ngModel)]="model.dPH6W" />
    </se>
    <se label="开票单位">
      <input type="text" name="kpdw" nz-input [(ngModel)]="model.kpdw" />
    </se>
    <se label="开票日期">
      <input type="text" name="kprq" nz-input [(ngModel)]="model.kprq" />
    </se>
    <se label="发票号">
      <input type="text" name="fph" nz-input [(ngModel)]="model.fph" />
    </se>
    <se label="发票地区">
      <input type="text" name="fpdq" nz-input [(ngModel)]="model.fpdq" />
    </se>
    <se label="开票价格">
      <input type="text" name="kpjg" nz-input [(ngModel)]="model.kpjg" />
    </se>
    <se label="发动机号">
      <input type="text" name="fdjh" nz-input [(ngModel)]="model.fdjh" />
    </se>
    <se label="车架号">
      <input type="text" name="cjh" nz-input [(ngModel)]="model.cjh" />
    </se>
    <se label="车辆颜色">
      <input type="text" name="clys" nz-input [(ngModel)]="model.clys" />
    </se>
    <se label="合格证号">
      <input type="text" name="hgzh" nz-input [(ngModel)]="model.hgzh" />
    </se>
    <se label="车辆类别">
      <input type="text" name="cllb" nz-input [(ngModel)]="model.cllb" />
    </se>
  </form>