<div class="page-container">
  <nz-card [nzBordered]="false">
    <span mkgoback>返回上级></span><span>新建订单</span>
  </nz-card>

  <dpcarworkflow-proinst-create></dpcarworkflow-proinst-create>

  <!-- <nz-card [nzBordered]="false" class="wf-btm-card-nav">
      <ng-container>
        <div class="nav-panel">
            <button nz-button nzType="danger" mkgoback>取消订单</button>
            <button  nz-button type="button" (click)="SubmitProcess()"
              [nzType]="'primary'"><i nz-icon type="plus"></i>征信查询</button>
        </div>
      </ng-container>
    </nz-card> -->
</div>