.wf-tab{
  margin-bottom: 10px;
  .ant-tabs-bar{
      margin:0px !important;
    }
  
}
.wf-btm-card-nav{
  .nav-panel{
      float: right;
  }
  button{
      margin-right: 10px;
  }
}

.img-items{
  .con-items{
    width:150px;
    height:150px;
    display: inline-block;
    margin:0px 15px;
    vertical-align: top; 
    .img{
        width:100%;
        height:120px;
    }
  }
  .name{
      display: inline-block;
      width:100%;
      line-height: 30px;
      text-align: center;
  }
}