<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<app-component-psbg-read [dataItem]="dataItem"></app-component-psbg-read>
<nz-divider nzText="评审意见" nzOrientation="left"></nz-divider>

<div class="advice">
      <nz-alert nzType="success" class="item" *ngFor="let item of AdviceList"
       nzMessage="{{item.approvedpersion}}"
      nzDescription="{{item.approvedadvice}}"
       ></nz-alert>
</div>

<nz-divider nzText="审批意见" nzOrientation="left"></nz-divider>
<form nz-form #ff="ngForm" class="mform" se-container="1" gutter="32">
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="4">
      <textarea nz-input placeholder="" nzRequired name="approvedadvice" id="approvedadvice"
        [nzAutosize]="{minRows: 4}" [(ngModel)]="modelyj.approvedadvice"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="4">
      <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="ff.invalid"
        [nzLoading]="submitting">保存</button>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="modal-footer">
    <button nz-button nzType="primary" (click)="RefusePass()">拒绝通过</button>
  <button nz-button nzType="primary" (click)="ProinstBack()">驳回</button>
  <button nz-button nzType="primary" (click)="ProinstSubmit()">通过审核</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>