<div class="page-container">
  <nz-card [nzBordered]="false">
      <form nz-form [nzLayout]="'inline'"  class="search__form">
          <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
            <nz-col nzMd="8" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="txtsearch">搜索</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="请输入..." id="txtsearch">
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col>
              <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'" [nzLoading]="loading">查询</button>
              <a class="icon-more" (click)="expandForm=!expandForm" *ngIf="false">
                {{expandForm ? '收起' : '展开'}}
                <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
              </a>
            </nz-col>
          </nz-row>
        </form>
        <form  class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null" *ngIf="expandForm">
          <se label="是否有效" line>
              <nz-tag *ngFor="let i of StateArray; let idx = index" nzMode="checkable" [nzChecked]="i.active"
                (nzCheckedChange)="changeState($event, i)">
                {{i.name}}
              </nz-tag>
          </se>

        </form>
  </nz-card>
  <nz-card [nzBordered]="false">
          <!-- <button nz-button (click)="addClick()" [nzType]="'primary'" class="btn-add">
              <i nz-icon type="plus"></i>
              <span>新建</span>
            </button> -->
    <ng-container>
      <nz-table #ajaxTable
          nzShowSizeChanger
          [nzData]="DataList"
          [(nzPageIndex)]="PageNum"
          [nzFrontPagination]="false"
          [(nzPageSize)]="PageSize"
          [nzTotal]="TotalCount"
          (nzPageIndexChange)="loadData()"
          (nzPageSizeChange)="loadData()" >
        <thead>
          <tr>
            <th>创建时间</th>
            <th>实名</th>
            <th>身份证号</th>
            <th>手机</th>
            <th>性别</th>
            <th>邮箱</th>
            <th>微信头像</th>
            <th>微信名称</th>
            <th>当前可用费用</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
              <td>{{data.createdate |mkdateformatpipe:'YYYY-MM-DD'}}</td>
              <td>{{data.idcardname}}
              </td>
              <td>{{data.idcard}}</td>
              <td>{{data.memMobile}}</td>
              <td>{{data.memAge}}</td>
              <td>{{data.memMail}}</td>
              <td><img src="{{data.weChatImg}}" alt="" style="width:30px;height:30px;"></td>
              <td>{{data.weChatName}}</td>
              <td>{{data.money}}</td>
            <td>{{data.memtype_enum}}</td>
            <td>
              <a (click)="editItem(data)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteItem(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card>
</div>