.search__form {
  .ant-form-item {
    margin-bottom: 0px;
  }
  .icon-more {
    margin-left: 15px;
  }
}
.page-container {
  padding-top: 0px;
  .more-form {
    margin-top: 14px;
  }
  .btn-add {
    margin-bottom: 12px;
  }
}
.searchdataRange {
  
}
.change-options {
  display: inline-block;
  font-size: 12px;
  margin-top: 8px;
}
.ant-cascader-picker {
  width: 350px;
}
