<form nz-form #f="ngForm" class="mform" se-container="3" gutter="32">
    <se label="姓名">
      <input type="text" name="username" nz-input [(ngModel)]="model.username" />
    </se>
    <se label="性别">
      <input type="text" name="sexy" nz-input [(ngModel)]="model.sexy" />
    </se>
    <se label="身份证号">
      <input type="text" name="idcardnum" nz-input [(ngModel)]="model.idcardnum" />
    </se>
    <se label="申请时年龄">
      <input type="text" name="age" nz-input [(ngModel)]="model.age" />
    </se>
    <se label="手机号">
      <input type="text" name="mobile" nz-input [(ngModel)]="model.mobile" />
    </se>
    <se label="户籍">
      <input type="text" name="censusregister" nz-input [(ngModel)]="model.censusregister" />
    </se>
    <se label="家庭住址">
      <input type="text" name="homeaddress" nz-input [(ngModel)]="model.homeaddress" />
    </se>
    <se label="家庭邮编">
      <input type="text" name="familyzipcode" nz-input [(ngModel)]="model.familyzipcode" />
    </se>
    <se label="婚姻状况">
      <input type="text" name="ismarry" nz-input [(ngModel)]="model.ismarry" />
    </se>
    <se label="现居住地">
      <input type="text" name="nowaddress" nz-input [(ngModel)]="model.nowaddress" />
    </se>
    <se label="购车地房屋所有权情况">
      <input type="text" name="gcdfwsyqqk" nz-input [(ngModel)]="model.gcdfwsyqqk" />
    </se>
    <se label="入住日期">
      <input type="text" name="rzrq" nz-input [(ngModel)]="model.rzrq" />
    </se>
    <se label="受教育程度">
      <input type="text" name="sjycd" nz-input [(ngModel)]="model.sjycd" />
    </se>
    <se label="家庭电话">
      <input type="text" name="jtdh" nz-input [(ngModel)]="model.jtdh" />
    </se>
    <se label="单位名称">
      <input type="text" name="dwmc" nz-input [(ngModel)]="model.dwmc" />
    </se>
    <se label="是否在职">
      <input type="text" name="sfzz" nz-input [(ngModel)]="model.sfzz" />
    </se>
    <se label="挂靠状态">
      <input type="text" name="gkzt" nz-input [(ngModel)]="model.gkzt" />
    </se>
    <se label="职务">
      <input type="text" name="zw" nz-input [(ngModel)]="model.zw" />
    </se>
    <se label="税后月收入">
      <input type="text" name="ssysr" nz-input [(ngModel)]="model.ssysr" />
    </se>
    <se label="入职时间">
      <input type="text" name="rzsj" nz-input [(ngModel)]="model.rzsj" />
    </se>
    <se label="单位性质">
      <input type="text" name="dwxz" nz-input [(ngModel)]="model.dwxz" />
    </se>
    <se label="单位电话">
      <input type="text" name="dwdh" nz-input [(ngModel)]="model.dwdh" />
    </se>
    <se label="单位地址">
      <input type="text" name="dwaddress" nz-input [(ngModel)]="model.dwaddress" />
    </se>
    <se label="单位详细地址">
      <input type="text" name="dwxxdz" nz-input [(ngModel)]="model.dwxxdz" />
    </se>
  </form>