<div class="modal-header">
    <div class="modal-title">{{data.HeadText}}</div>
  </div>
  <div class="modal-content">
      <form nz-form #f="ngForm" class="mform" se-container="1" gutter="32">
          <nz-form-item >
            <nz-form-label [nzSpan]="4" nzFor="name" [nzOffset]="2" nzRequired>模型名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input  name="name" placeholder="" [(ngModel)]="model.name">
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item >
            <nz-form-label [nzSpan]="4" nzFor="key" [nzOffset]="2" nzRequired>模型key</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input  name="key" placeholder="" [(ngModel)]="model.key">
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item >
            <nz-form-label [nzSpan]="4" nzFor="description" [nzOffset]="2" nzRequired>描述</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <textarea nz-input placeholder="" nzRequired name="description" id="description" nzAutosize [(ngModel)]="model.description"
                ></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
  </div>
  
  <div class="modal-footer">
    <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid"
      [nzLoading]="submitting">提交</button>
    <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
  </div>