<div class="page-container">
    <nz-card [nzBordered]="false">
        <form nz-form [nzLayout]="'inline'"  class="search__form">
            <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
              <nz-col nzMd="8" nzSm="24">
                <nz-form-item>
                  <nz-form-label nzFor="txtsearch">搜索</nz-form-label>
                  <nz-form-control>
                    <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="请输入..." id="txtsearch">
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
              <nz-col>
                <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'" [nzLoading]="loading">查询</button>
              </nz-col>
            </nz-row>
          </form>
          <form *ngIf="false"  class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null">
            <se label="会员类型" line>
                <nz-tag *ngFor="let i of membertypeArray; let idx = index" nzMode="checkable" [nzChecked]="i.active"
                  (nzCheckedChange)="changeState($event, i)">
                  {{i.name}}
                </nz-tag>
            </se>
  
          </form>
    </nz-card>
    <nz-card [nzBordered]="false">
      <ng-container>
        <nz-table #ajaxTable
            nzShowSizeChanger
            [nzData]="DataList"
            [(nzPageIndex)]="PageNum"
            [nzFrontPagination]="false"
            [(nzPageSize)]="PageSize"
            [nzTotal]="TotalCount"
            (nzPageIndexChange)="loadData()"
            (nzPageSizeChange)="loadData()" >
          <thead>
            <tr>
              <th>会员名称</th>
              <th>手机</th>
              <th>审核状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data; let i = index">
              <td>{{data.memName}}</td>
              <td>{{data.memMobile}}</td>
              <td>待审核</td>
              <td>
                <a (click)="editItem(data)">处理</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
    </nz-card>
  </div>