
<page-header [title]="'商品编辑'" [autoTitle]="false" [action]="action" [autoBreadcrumb]="false">
    <ng-template #action><div class="action"><button nz-button nzType="primary" (click)="goProductPage()">返回商品列表</button></div></ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form #f="ngForm" class="mform" se-container="2" gutter="32">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">产品类别</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-tree-select [nzNodes]="SelTypeTreeData" [nzDefaultExpandedKeys]="expandKeys"
          [nzDropdownMatchSelectWidth]="true" name="producttype" [nzDropdownStyle]="{ 'max-height': '300px' }"
          nzPlaceHolder="请选择.." [(ngModel)]="model.producttype">
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">产品品牌</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select  name="productbrand" nzShowSearch nzAllowClear nzPlaceHolder="选择一个品牌"
          [(ngModel)]="model.productbrand">
          <nz-option *ngFor="let option of BrandList" [nzValue]="option.productbrandid" [nzLabel]="option.brandname">
          </nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">商品名称</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productname" nz-input [(ngModel)]="model.productname" name="productname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">商品简介</nz-form-label>
      <nz-form-control [nzSpan]="12">
          <textarea nz-input placeholder="" name="productwords" id="productwords" nzAutosize
          [(ngModel)]="model.productwords"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="name">商品保障</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-tag *ngFor="let i of tagArray; let idx = index" nzMode="checkable" [nzChecked]="i.active"
          (nzCheckedChange)="changeState($event, i)">
          {{i.tagname}}
        </nz-tag>
        </nz-form-control>
      </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">商品图片</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <div class="uploadImg col-sm-10">
          <input #file type="file" id="file" name="file" (change)="getUpload($event)" class="form-control"
            style="display:none;">
          <div class="uploadBtn" (click)="upimg()" *ngIf="ShowUpload">上传图片</div>
          <div class="imgBox" *ngIf="!ShowUpload">
            <span class="closeBut" (click)="closeImg()">&times;</span>
            <img [src]="ImageSrc" width="100%" height="auto" />
          </div>
        </div>
        <nz-form-explain>
          最好采用 正方形图片
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

   

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">是否包邮</nz-form-label>
      <nz-form-control [nzSpan]="3">
        <nz-radio-group (ngModelChange)="SendFeeChanged($event)" [(ngModel)]="model.sendfee_sel" name="sendfee_sel">
          <label nz-radio-button *ngFor="let item of sendfeeArray"
            [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </nz-form-control>
      <nz-form-control [nzSpan]="3" *ngIf="model.sendfee_sel">
        <nz-input-group nzAddOnBefore="邮费">
          <input type="text" name="sendfee" nz-input [(ngModel)]="model.sendfee" name="sendfee" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="name">是否有效</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-radio-group [(ngModel)]="model.productvalid" name="productvalid">
            <label nz-radio-button *ngFor="let item of stateArray"
              [nzValue]="item.value"><span>{{item.name}}</span></label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item> -->
    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">是否支持7天无理由退款</nz-form-label>
      <nz-form-control [nzSpan]="3">
        <nz-radio-group [(ngModel)]="model.turnbackday" name="turnbackday">
          <label nz-radio-button *ngFor="let item of stateArray"
            [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item> -->

    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">单价</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productprice" nz-input [(ngModel)]="model.productprice" name="productprice" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">当前价格</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productcurprice" nz-input [(ngModel)]="model.productcurprice" name="productcurprice" />
      </nz-form-control>
    </nz-form-item> -->

    <!-- <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">是否置顶</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-radio-group [(ngModel)]="model.istop" name="istop">
          <label nz-radio-button *ngFor="let item of stateArray"
            [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="name">商品顺序</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input type="text" name="indexnum" nz-input [(ngModel)]="model.indexnum" name="indexnum" />
        </nz-form-control>
      </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">排序销量</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="salecount" nz-input [(ngModel)]="model.salecount" name="salecount" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="name">实际销量</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input type="text" name="factsalecount" nz-input [(ngModel)]="model.factsalecount" name="factsalecount" disabled />
        </nz-form-control>
      </nz-form-item>
  

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">备注</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <textarea nz-input placeholder="" name="productdesc" id="productdesc" nzAutosize
          [(ngModel)]="model.productdesc"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

<nz-card [nzBordered]="false" *ngIf="model.keycode">
  <div nz-row>
    <div nz-col nzSpan="12" nzOffset="2">
      <button nz-button nzType="dashed" (click)="addProdUnit()">增加规格</button>
    </div>
    <div nz-col nzSpan="20" nzOffset="2" class="mt-sm">
      <nz-table #ajaxTable [nzData]="UnitDataList" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>规格名称</th>
            <th>规格单位</th>
            <th>原价</th>
            <th>会员价</th>
            <th>补贴价</th>
            <th>商品编码</th>
            <th>商家商品编码</th>
            <th>库存量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{data.unitname}}</td>
            <td>{{data.unit}}</td>
            <td>{{data.price}}</td>
            <td>{{data.currpice}}</td>
            <td>{{data.offprice}}</td>
            <td>{{data.productunitno}}</td>
            <td>{{data.productbusinessno}}</td>
            <td>{{data.skuamount}}</td>
            <td>
                <a (click)="editUnitItem(data)">修改</a>
                <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteUnitItem(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>
<nz-card [nzBordered]="false">
  <div nz-row>
    <div nz-col nzSpan="12" nzOffset="4">
      <button nz-button nzType="primary" (click)="saveClick()" type="submit">保存</button>
      <button nz-button (click)="addNewClick()" type="submit">新建商品</button>
    </div>
  </div>
</nz-card>