<!-- <div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div> -->
<!-- [size]="'compact'" col=3 [labelWidth]="80" -->
<!-- error="请填写" required -->
<!--<se label="是否有效" error="请填写">
        <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid">
          <label nz-radio-button *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </se>model.producttype-->

<nz-card [nzBordered]="false">
  <form nz-form #f="ngForm" class="mform" se-container="2" gutter="32">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">产品类别</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-tree-select [nzNodes]="SelTypeTreeData" [nzDefaultExpandedKeys]="expandKeys"
          [nzDropdownMatchSelectWidth]="true" name="producttype" [nzDropdownStyle]="{ 'max-height': '300px' }"
          nzPlaceHolder="请选择.." [(ngModel)]="model.producttype">
        </nz-tree-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">产品品牌</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="name" nz-input [(ngModel)]="model.productbrand" name="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">商品名称</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productname" nz-input [(ngModel)]="model.productname" name="productname" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">商品关键字</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productwords" nz-input [(ngModel)]="model.productwords" name="productwords" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">是否有效</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-radio-group [(ngModel)]="model.productvalid" name="productvalid">
          <label nz-radio-button *ngFor="let item of stateArray"
            [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">商品图片</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <div class="uploadImg col-sm-10">
          <input #file type="file" id="file" name="file" (change)="getUpload($event)" class="form-control"
            style="display:none;">
          <div class="uploadBtn" (click)="upimg()" *ngIf="ShowUpload">上传图片</div>
          <div class="imgBox" *ngIf="!ShowUpload">
            <span class="closeBut" (click)="closeImg()">&times;</span>
            <img [src]="ImageSrc" width="100%" height="auto" />
          </div>
        </div>
        <nz-form-explain>
          最好采用 正方形图片
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">单价</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productprice" nz-input [(ngModel)]="model.productprice" name="productprice" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">当前价格</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="productcurprice" nz-input [(ngModel)]="model.productcurprice" name="productcurprice" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">是否置顶</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-radio-group [(ngModel)]="model.istop" name="istop">
          <label nz-radio-button *ngFor="let item of stateArray"
            [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">数量</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input type="text" name="amount" nz-input [(ngModel)]="model.amount" name="amount" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">备注</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <textarea nz-input placeholder="" name="productdesc" id="productdesc" nzAutosize
          [(ngModel)]="model.productdesc"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">分享说明</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <textarea nz-input placeholder="" name="wechatshare" id="wechatshare" nzAutosize
          [(ngModel)]="model.wechatshare"></textarea>
      </nz-form-control>
    </nz-form-item>

    <!-- <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="4">
        
      </nz-form-control>
    </nz-form-item> -->
  </form>
</nz-card>

<nz-card [nzBordered]="false" *ngIf="model.keycode">
  <div nz-row>
    <div nz-col nzSpan="12" nzOffset="4">
      <button nz-button nzType="dashed" (click)="addProdUnit()">增加规格</button>
    </div>
    <div nz-col nzSpan="12" nzOffset="4" class="mt-sm">
      <nz-table #ajaxTable [nzData]="UnitDataList" [nzShowPagination]="false">
        <thead>
          <tr>
            <th>规格名称</th>
            <th>规格单位</th>
            <th>价格</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{data.unitname}}</td>
            <td>{{data.unit}}</td>
            <td>{{data.currpice}}</td>
            <td>
              <a (click)="deleteUnitItem(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-card>

<nz-affix style="position: absolute; top: 10px;left:10px">
  <nz-card [nzBordered]="false" *ngIf="model.keycode">
    <div nz-row>
      <div nz-col nzSpan="12" nzOffset="4">
          <button nz-button nzType="primary" (click)="saveClick()" type="submit">保存</button>
          <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
      </div>
    </div>
  </nz-card>
</nz-affix>