<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<!-- [size]="'compact'" col=3 [labelWidth]="80" -->
<!-- error="请填写" required -->
<!--<se label="是否有效" error="请填写">
        <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid">
          <label nz-radio-button *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </se>-->
<form nz-form #f="ngForm" class="mform" se-container="1" gutter="32">
  <se label="品牌名称">
    <input type="text" name="carbrandname" nz-input [(ngModel)]="model.carbrandname" />
  </se>
  <se label="添加时间">
    <input type="text" name="createdate" nz-input [(ngModel)]="model.createdate" />
  </se>
  <se label="是否有效">
    <input type="text" name="isvalid" nz-input [(ngModel)]="model.isvalid" />
  </se>
  <se label="企业内码">
    <input type="text" name="enterpriseid" nz-input [(ngModel)]="model.enterpriseid" />
  </se>
  <se label="来源内码">
    <input type="text" name="sourcecode" nz-input [(ngModel)]="model.sourcecode" />
  </se>
  <se label="品牌首字母">
    <input type="text" name="initial" nz-input [(ngModel)]="model.initial" />
  </se>
</form>
<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid" [nzLoading]="submitting">保存</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>