<page-header [title]="'配置信息'">
</page-header>

<div class="main">
  <div class="content">
    <nz-card class="content-panel" nzType="inner" [nzTitle]="'首页图片'"
      [nzExtra]="extraTemplate">
      <div nz-row>
        <div nz-col class="process-item" [nzSpan]="6">
          <nz-card 
            style=" height: 117px; display: flex; align-items: center;justify-content: center;">
            <div class="mmg">
              <i nz-icon type="plus"></i> 增加图片
            </div>
            <input type="file" class="file" ng2FileSelect [uploader]='uploader' (change)="upload($event)" multiple>
          </nz-card>
        </div>
        <div nz-col class="process-item" [nzSpan]="6" *ngFor="let dataitem of MainpicList">
          <nz-card [nzActions]="[op1, op2]">
            <ng-template #op1>
              <a (click)="editComponentItem(dataitem)">编辑</a>
            </ng-template>
            <ng-template #op2>
              <a (click)="delComponentItem(dataitem)">删除</a>
            </ng-template>
            <nz-card-meta  [nzDescription]="nzDescription">
              <ng-template #nzDescription>
                <img class="img" src="{{dataitem.content || dataitem.filepath}}" width="" height="" alt="">
              </ng-template>
            </nz-card-meta>
          </nz-card>
        </div>
      </div>
      <ng-template #extraTemplate>
        <nz-dropdown>
          <i nz-dropdown nz-icon type="ellipsis" class="rotate-90"></i>
          <ul nz-menu>
            <li nz-menu-item (click)="EditContentItem(data)">编辑</li>
            <li nz-menu-item (click)="DelContentItem(data)">删除</li>
          </ul>
        </nz-dropdown>
      </ng-template>
    </nz-card>

  </div>
</div>