.content-wrap{
    .item{
        line-height:40px;
        border-bottom:1px solid #f2f4f7; 
        .text{
            padding-left:15px; 
        }
    }
    .active{
        background: #fcfcfc;
    }
    
}

.page-container{
    .more-form{
        margin-top:14px;
    }
    .btn-add{
        margin-bottom: 12px;
      }
  }
  