<div class="page-container">
    <nz-card [nzBordered]="false">
      <form nz-form [nzLayout]="'inline'" class="search__form">
        <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
          <nz-col nzMd="8" nzSm="24">
            <nz-form-item>
              <nz-form-label nzFor="txtsearch">搜索</nz-form-label>
              <nz-form-control>
                <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="请输入..." id="txtsearch">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col>
            <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'" [nzLoading]="loading">查询</button>
            <a class="icon-more" (click)="expandForm=!expandForm" *ngIf="false">
              {{expandForm ? '收起' : '展开'}}
              <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
            </a>
          </nz-col>
        </nz-row>
      </form>
      <form class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null" *ngIf="expandForm">
        <se label="是否有效:" line>
          <nz-tag *ngFor="let i of StateArray; let idx = index" nzMode="checkable" [nzChecked]="i.value"
            (nzCheckedChange)="changeState($event, i)">
            {{i.name}}
          </nz-tag>
        </se>
  
      </form>
    </nz-card>
    <nz-card [nzBordered]="false">
      <ng-container>
        <nz-table #ajaxTable nzShowSizeChanger [nzData]="DataList" [(nzPageIndex)]="PageNum" [nzFrontPagination]="false"
          [(nzPageSize)]="PageSize" [nzTotal]="TotalCount" (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData()">
          <thead>
            <tr>
              <th>序号</th>
              <th>打款时间</th>
              <th>收款人</th>
              <th>申请金额</th>
              <th>开户名</th>
              <th>开户银行</th>
              <th>银行帐号</th>
              <th>打款凭证</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data; let i = index">
              <td>{{i +1}}</td>
              <!-- <td>{{data.keycode}}</td> -->
              <td>{{data.createdate|mkdateformatpipe:'YYYY-MM-DD'}}</td>
              <td>{{data.outmoneyperson}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.username}}</td>
              <td>{{data.bank}}</td>
              <td>{{data.amountnum}}</td>
              <td>
                <a (click)="readDkpz(data)">查看</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </ng-container>
    </nz-card>
  </div>