.search__form{
  .ant-form-item{
      margin-bottom: 0px;
  }
  .icon-more{
      margin-left:10px;
  }
}
.page-container{
  .more-form{
      margin-top:14px;
  }
  .btn-add{
      margin-bottom: 12px;
    }
}
