<page-header [title]="'会员详情'" [autoTitle]="false" [action]="action" [autoBreadcrumb]="false">
    <ng-template #action><div class="action"><button nz-button nzType="primary" (click)="reload()">刷新信息</button><button nz-button nzType="primary" (click)="goMemberPage()">返回用户列表</button></div></ng-template>
</page-header>
<nz-card nzType="inner" nzTitle="基本信息" [nzExtra]="extraTemplate">
  <div nz-row>
    <div nz-col nzSpan="24">
      <sv-container size="small">
        <sv label="姓名">{{model.idcardname}}</sv>
        <sv label="身份证号">{{model.idcard}}</sv>
        <sv label="手机号码">{{model.memMobile}}</sv>
        <sv label="注册时间">{{model.createdate|mkdateformatpipe:'YYYY-MM-DD'}}</sv>
        <sv label="性别">{{model.memAge_enum || model.memAge}}</sv>
        <sv label="现居住地">{{model.address}}</sv>
        <sv label="在汽车行业从业时间">{{model.work_enum || model.work}}</sv>
        <sv label="会员邮箱">{{model.memMail}}</sv>
        <sv label="状态">{{model.memtype_enum || model.memtype}}</sv>
      </sv-container> 
    </div>
  </div>
  <ng-template #extraTemplate>
    <button nz-button [nzSize]="small" *ngIf="model.memtype == 1" nzType="primary" (click)="approved()">审核</button>
  </ng-template>
</nz-card>

<nz-card nzType="inner" nzTitle="银行信息">
    <div nz-row>
      <div nz-col nzSpan="24">
        <sv-container size="small">
          <sv label="开户名">{{model.accountname}}</sv>
          <sv label="开户银行">{{model.accountbank}}</sv>
          <sv label="卡片账号">{{model.accountnum}}</sv>
        </sv-container>
      </div>
    </div>
  </nz-card>

<nz-card nzType="inner" nzTitle="身份证信息" >
  <div nz-row class="sfzxx">
    <div nz-col nzSpan="6" *ngIf="modelpic.idcardfront">
      <img src="{{modelpic.idcardfront}}" alt="">
      </div>
      <div nz-col nzSpan="6" *ngIf="modelpic.idcardfront">
        <img src="{{modelpic.idcardback}}" alt="">
        </div>
      </div>
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="审批意见" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzCancelText]="'驳回'" [nzOkText]="'审核通过'">
  <div>
    <textarea rows="4" nz-input [(ngModel)]="model.advice"></textarea>
  </div>
</nz-modal>