<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<!-- [size]="'compact'" col=3 [labelWidth]="80" -->
<!-- error="请填写" required -->
<!--<se label="是否有效" error="请填写">
        <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid">
          <label nz-radio-button *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </se>-->
<form nz-form #f="ngForm" class="mform" se-container="1" gutter="32">
  <se label="会员名称">
    <input type="text" name="memName" nz-input [(ngModel)]="model.memName" />
  </se>
  <se label="会员密码">
    <input type="text" name="memPwd" nz-input [(ngModel)]="model.memPwd" />
  </se>
  <se label="手机">
    <input type="text" name="memMobile" nz-input [(ngModel)]="model.memMobile" />
  </se>
  <se label="年龄">
    <input type="text" name="memOld" nz-input [(ngModel)]="model.memOld" />
  </se>
  <se label="性别">
    <input type="text" name="memAge" nz-input [(ngModel)]="model.memAge" />
  </se>
  <se label="邮箱">
    <input type="text" name="memMail" nz-input [(ngModel)]="model.memMail" />
  </se>
  <se label="微信标示">
    <input type="text" name="weChatOpenID" nz-input [(ngModel)]="model.weChatOpenID" />
  </se>
  <se label="总消费">
    <input type="text" name="costAmount" nz-input [(ngModel)]="model.costAmount" />
  </se>
  <se label="总消费笔数">
    <input type="text" name="costNum" nz-input [(ngModel)]="model.costNum" />
  </se>
  <se label="微信头像">
    <input type="text" name="weChatImg" nz-input [(ngModel)]="model.weChatImg" />
  </se>
  <se label="微信名称">
    <input type="text" name="weChatName" nz-input [(ngModel)]="model.weChatName" />
  </se>
  <se label="会员等级">
    <input type="text" name="memlevel" nz-input [(ngModel)]="model.memlevel" />
  </se>
  <se label="推荐会员">
    <input type="text" name="pid" nz-input [(ngModel)]="model.pid" />
  </se>
  <se label="当前可用费用">
    <input type="text" name="money" nz-input [(ngModel)]="model.money" />
  </se>
  <se label="企业内码">
    <input type="text" name="enterpriseid" nz-input [(ngModel)]="model.enterpriseid" />
  </se>
  <se label="创建时间">
    <input type="text" name="createdate" nz-input [(ngModel)]="model.createdate" />
  </se>
  <se label="短信码">
    <input type="text" name="msgcode" nz-input [(ngModel)]="model.msgcode" />
  </se>
  <se label="短信码过期时间">
    <input type="text" name="msgvaliddate" nz-input [(ngModel)]="model.msgvaliddate" />
  </se>
  <se label="是否有效">
    <input type="text" name="isvalid" nz-input [(ngModel)]="model.isvalid" />
  </se>
  <se label="用户类型（1.普通会员  2.实名会员  3.认证会员）">
    <input type="text" name="memtype" nz-input [(ngModel)]="model.memtype" />
  </se>
  <se label="积分">
    <input type="text" name="points" nz-input [(ngModel)]="model.points" />
  </se>
  <se label="身份证号">
    <input type="text" name="idcard" nz-input [(ngModel)]="model.idcard" />
  </se>
  <se label="实名">
    <input type="text" name="idcardname" nz-input [(ngModel)]="model.idcardname" />
  </se>
  <se label="更新时间">
    <input type="text" name="updatedate" nz-input [(ngModel)]="model.updatedate" />
  </se>
  <se label="freezemoney">
    <input type="text" name="freezemoney" nz-input [(ngModel)]="model.freezemoney" />
  </se>
  <se label="canusemoney">
    <input type="text" name="canusemoney" nz-input [(ngModel)]="model.canusemoney" />
  </se>
</form>
<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid" [nzLoading]="submitting">保存</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>