<form nz-form #f="ngForm" class="mform" se-container="3" gutter="32">
    <se label="业务模式">
      <input type="text" name="busmode" nz-input [(ngModel)]="model.busmode" />
    </se>
    <se label="业务类型">
      <input type="text" name="bustype" nz-input [(ngModel)]="model.bustype" />
    </se>
    <se label="取整模式">
      <input type="text" name="qzms" nz-input [(ngModel)]="model.qzms" />
    </se>
    <se label="银行基准利率">
      <input type="text" name="bankjzlv" nz-input [(ngModel)]="model.bankjzlv" />
    </se>
    <se label="分期金额">
      <input type="text" name="fqje" nz-input [(ngModel)]="model.fqje" />
    </se>
    <se label="是否贴息">
      <input type="text" name="sftx" nz-input [(ngModel)]="model.sftx" />
    </se>
    <se label="还款期限">
      <input type="text" name="hkqx" nz-input [(ngModel)]="model.hkqx" />
    </se>
    <se label="试算公司利率">
      <input type="text" name="ssgsll" nz-input [(ngModel)]="model.ssgsll" />
    </se>
    <se label="车辆价格">
      <input type="text" name="cljg" nz-input [(ngModel)]="model.cljg" />
    </se>
    <se label="首付金额">
      <input type="text" name="sfje" nz-input [(ngModel)]="model.sfje" />
    </se>
    <se label="贷款金额">
      <input type="text" name="dkje" nz-input [(ngModel)]="model.dkje" />
    </se>
    <se label="签约总还款额">
      <input type="text" name="qyzhke" nz-input [(ngModel)]="model.qyzhke" />
    </se>
    <se label="月还款额">
      <input type="text" name="yhke" nz-input [(ngModel)]="model.yhke" />
    </se>
    <se label="担保费">
      <input type="text" name="dbf" nz-input [(ngModel)]="model.dbf" />
    </se>
    <se label="银行手续费">
      <input type="text" name="yhsxf" nz-input [(ngModel)]="model.yhsxf" />
    </se>
    <se label="签约手续费还款额">
      <input type="text" name="qysxfhke" nz-input [(ngModel)]="model.qysxfhke" />
    </se>
    <se label="总还款车价">
      <input type="text" name="zhk" nz-input [(ngModel)]="model.zhk" />
    </se>
    <se label="首付比例">
      <input type="text" name="sfbl" nz-input [(ngModel)]="model.sfbl" />
    </se>
    <se label="分期比例">
      <input type="text" name="fqbl" nz-input [(ngModel)]="model.fqbl" />
    </se>
    <se label="签约贷款额/车价">
      <input type="text" name="qydke" nz-input [(ngModel)]="model.qydke" />
    </se>
  </form>