<div class="page-container">
  <div class="content-wrap" style="width:100%;background: #fff;" [ngStyle]="{'height':changeHeight+'px'}">
    <as-split  [gutterSize]="5">
      <as-split-area size="20" style="min-width:230px;">
        <div class="addtype-but">
            <button nz-button nzType="primary"  (click)="addClick(1)">添加部门</button>
            <button nz-button nzType="primary"  (click)="addClick(2)">添加用户</button>
        </div>
        <nz-tree  [nzData]="TreeData" nzShowIcon="true" nzAsyncData="true" nzExpandAll="false"  (nzClick)="TreeItemClick($event)" (nzExpandChange)="TreeChild($event,null)">
        </nz-tree>

      </as-split-area>
      <as-split-area size="80">
        <nz-card [nzBordered]="false" nzTitle="部门编辑" *ngIf="typeItemBox==1">
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="email">部门类别</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-tree-select name="pid" nzPlaceHolder="请选择.." [nzDefaultExpandedKeys]="expandKeys"
                [nzDropdownMatchSelectWidth]="true" [nzDropdownStyle]="{ 'max-height': '300px' }" [(ngModel)]="model.pid"
                [nzNodes]="SelTypeTreeData" [nzAsyncData]="true" (nzExpandChange)="TreeChild($event,1)">
              </nz-tree-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="typename">类别名称</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="typename" type="text" id="typename" [(ngModel)]="model.typename">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="isvalid">是否有效</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid" >
                  <label nz-radio-button  *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="typeindex">类别索引</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="typeindex" type="text" id="typeindex" [(ngModel)]="model.typeindex">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="8" [nzOffset]="4">
                <button nz-button nzType="primary" (click)="okClick(okType)" type="submit" >保存</button>
                <button nz-button class="ml-sm" (click)="deleteClick('typeDelete')" *ngIf="model.keycode">删除</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="用户编辑" *ngIf="typeItemBox==2">
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="email">所属部门</nz-form-label>
              <nz-form-control [nzSpan]="8">
                  <nz-tree-select name="usertypeid" nzPlaceHolder="请选择.." [nzDefaultExpandedKeys]="expandKeys"
                    [nzDropdownMatchSelectWidth]="true" [nzDropdownStyle]="{ 'max-height': '300px' }" [(ngModel)]="model.usertypeid"
                    [nzNodes]="SelTreeData" [nzAsyncData]="true" (nzExpandChange)="TreeChild($event,1)">
                  </nz-tree-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="adminusernickname">昵称</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="adminusernickname" type="text" id="adminusernickname" [(ngModel)]="model.adminusernickname">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="adminusertel">手机</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="adminusertel" type="text" id="adminusertel" [(ngModel)]="model.adminusertel">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="adminuserpwd">密码</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <input nz-input name="adminuserpwd" type="text" id="adminuserpwd" [(ngModel)]="model.adminuserpwd">
              </nz-form-control>
            </nz-form-item>
           
            <nz-form-item>
              <nz-form-label [nzSpan]="4" nzFor="isvalid">是否有效</nz-form-label>
              <nz-form-control [nzSpan]="8">
                <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid" >
                  <label nz-radio-button  *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="8" [nzOffset]="4">
                <button nz-button nzType="primary" (click)="okClick(okType)" type="submit" >保存</button>
                <button nz-button class="ml-sm" (click)="deleteClick('typeDelete')" *ngIf="model.keycode">删除</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-card>
      </as-split-area>
    </as-split>
  </div>
</div>