.type-item-box{
    width: 50%;
}
.form-group label{
    text-align: right;
}
.operator-but{
    display: flex;
    justify-content: center;
}
.add-role{
    background-color: #1ab394;
    color: white;
}