<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzData]="DataList"  [nzFrontPagination]="false"
           (nzPageIndexChange)="loadData()" [nzTotal]="TotalCount"
          (nzPageSizeChange)="loadData()">
          <thead>
            <tr>
              <th>填写时间</th>
              <th>意向金</th>
              <th>基础保证金</th>
              <th>增量保证金</th>
              <th>状态</th>
              <th>金额</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ajaxTable.data; let i = index">
              <td>{{data.createdate|mkdateformatpipe:'YYYY-MM-DD'}}</td>
              <td>{{data.yxj}}</td>
              <td>{{data.jcbzj}}</td>
              <td>{{data.zlbzj}}</td>
              <td>{{data.isvalid == 99?'已确认':'未确认'}}</td>
              <td>{{data.totalmoney}}</td>
            </tr>
          </tbody>
        </nz-table>


 <div class="modal-body">
    <div nz-row nzGutter="4">
        <div nz-col nzSpan="24" class="label-t f16">备注:</div>
        <div nz-col nzSpan="22" nzOffset="2">款项总额:{{TotalMoney}}万元</div>
        <div nz-col nzSpan="20"  nzOffset="4">已收:意向金:{{TotalYXJ}}万元</div>
        <div nz-col nzSpan="20"  nzOffset="4">基础保证金:{{TotalJCBZJ}}万元</div>
        <div nz-col nzSpan="20"  nzOffset="4">增量保证金:{{TotalZLBZJ}}万元</div>
        <div nz-col nzSpan="22" nzOffset="2"> 待收:{{TotalDS}}万元</div>
 </div>
<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit"
    >上传凭证</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">关闭</button>
</div>