<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<div class="modal-content">
    <form nz-form #f="ngForm" class="mform" se-container="1" gutter="32">
        <nz-form-item >
          <nz-form-label [nzSpan]="4" nzFor="oldpwd" [nzOffset]="2" nzRequired>原密码</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input  type="password" name="oldpwd" placeholder="" [(ngModel)]="model.oldpwd">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item >
          <nz-form-label [nzSpan]="4" nzFor="newpwd" [nzOffset]="2" nzRequired>新密码</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="password" name="newpwd" placeholder="" [(ngModel)]="model.newpwd">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item >
          <nz-form-label [nzSpan]="4" nzFor="confirm_newpwd" [nzOffset]="2" nzRequired>再次输入</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <input nz-input type="password" name="confirm_newpwd" placeholder="" [(ngModel)]="model.confirm_newpwd">
          </nz-form-control>
        </nz-form-item>
      </form>
</div>

<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid"
    [nzLoading]="submitting">提交</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>