.content-wrap{
    min-height: 500px;
    background-color: #fff;
}
.type-item-box{
    width: 50%;
}
.operator-but{
    display: flex;
    justify-content: center;
}
.form-group label{
    text-align: right;
}
.add-role{
    background-color: #1ab394;
    color: white;
}
.save{
    background-color: #1bb394;
    color: #ffffff;
}