.pagination{
  position : absolute;
  left:0;
  text-align: center;
  bottom: 3px;
  width:100%;
  z-index: 10;
}
.swiper-pagination-switch{
  display: inline-block;
  width: 10px;
  height:10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555;
  margin:0 3px;
  cursor: pointer;
}

.swiper-container {
  width: 150px;
  height: 120px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  .it-img{
      width:100%;
      height:100%;
  }
}

.img-items{
    .con-items{
      width:150px;
      height:150px;
      display: inline-block;
      margin:0px 5px;
      vertical-align: top; 
      .img{
          width:100%;
          height:120px;
      }
    }
    .name{
        display: inline-block;
        width:100%;
        line-height: 30px;
        text-align: center;
    }
}


.label-t{
  font-weight: 700;
}
.fs15{
  font-size: 15px;
}