<form nz-form #f="ngForm" class="mform" se-container="3" gutter="32">
    <se label="签约每月手续费还款额">
      <input type="text" name="mysxfhke" nz-input [(ngModel)]="model.mysxfhke" />
    </se>
    <se label="签约首月手续费还款额">
      <input type="text" name="sysxfhke" nz-input [(ngModel)]="model.sysxfhke" />
    </se>
    <se label="分期额度">
      <input type="text" name="fqed" nz-input [(ngModel)]="model.fqed" />
    </se>
    <se label="签约每月本金还款额">
      <input type="text" name="qymybjhke" nz-input [(ngModel)]="model.qymybjhke" />
    </se>
    <se label="签约首月本金还款额">
      <input type="text" name="qysybjhke" nz-input [(ngModel)]="model.qysybjhke" />
    </se>
    <se label="履约押金">
      <input type="text" name="lyyj" nz-input [(ngModel)]="model.lyyj" />
    </se>
    <se label="征信押金">
      <input type="text" name="zxyj" nz-input [(ngModel)]="model.zxyj" />
    </se>
    <se label="续保押金">
      <input type="text" name="xbyj" nz-input [(ngModel)]="model.xbyj" />
    </se>
    <se label="其他费用">
      <input type="text" name="qtfy" nz-input [(ngModel)]="model.qtfy" />
    </se>
    <se label="担保费率">
      <input type="text" name="dbfl" nz-input [(ngModel)]="model.dbfl" />
    </se>
  </form>