.search__form{
  .ant-form-item{
      margin-bottom: 0px;
  }
  .icon-more{
      margin-left:10px;
  }
}
.page-container{
  .more-form{
      margin-top:14px;
  }
  
}
.page-container{
    padding-top:0px;
}
  .change-options {
    display: inline-block;
    font-size: 12px;
    margin-top: 8px;
  }
  .listnav{
    a{
      margin: 0px 5px;
    }

  }
