<form nz-form #f="ngForm" class="mform" se-container="3" gutter="32">
    <se label="车辆型号">
      <input type="text" name="cartype" nz-input [(ngModel)]="model.cartype" />
    </se>
    <se label="车辆性质">
      <input type="text" name="carchar" nz-input [(ngModel)]="model.carchar" />
    </se>
    <se label="系统查询价">
      <input type="text" name="sysprice" nz-input [(ngModel)]="model.sysprice" />
    </se>
    <se label="车辆价格">
      <input type="text" name="carprice" nz-input [(ngModel)]="model.carprice" />
    </se>
    <se label="牌照类型">
      <input type="text" name="licensetype" nz-input [(ngModel)]="model.licensetype" />
    </se>
    <se label="牌照颜色">
      <input type="text" name="licensecolor" nz-input [(ngModel)]="model.licensecolor" />
    </se>
    <se label="上牌地">
      <input type="text" name="licenseaddress" nz-input [(ngModel)]="model.licenseaddress" />
    </se>
    <se label="座位数">
      <input type="text" name="seatnum" nz-input [(ngModel)]="model.seatnum" />
    </se>
    <se label="驾驶车主">
      <input type="text" name="driver" nz-input [(ngModel)]="model.driver" />
    </se>
    <se label="登记证书编号">
      <input type="text" name="registernum" nz-input [(ngModel)]="model.registernum" />
    </se>
  </form>
