<div class="page-container">
  <nz-card [nzBordered]="false">
      <form nz-form [nzLayout]="'inline'"  class="search__form">
          <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
            <nz-col nzMd="8" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="txtsearch">搜索</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="请输入..." id="txtsearch">
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col>
              <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'" [nzLoading]="loading">查询</button>
              <a class="icon-more" (click)="expandForm=!expandForm">
                {{expandForm ? '收起' : '展开'}}
                <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
              </a>
            </nz-col>
          </nz-row>
        </form>
        <form  class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null" *ngIf="expandForm">
          <se label="是否有效:" line>
              <nz-tag *ngFor="let i of StateArray; let idx = index" nzMode="checkable" [nzChecked]="i.value"
                (nzCheckedChange)="changeState($event, i)">
                {{i.name}}
              </nz-tag>
          </se>

        </form>
  </nz-card>
  <nz-card [nzBordered]="false">
          <button nz-button (click)="addClick()" [nzType]="'primary'" class="btn-add">
              <i nz-icon type="plus"></i>
              <span>新建</span>
            </button>
    <ng-container>
      <nz-table #ajaxTable
          nzShowSizeChanger
          [nzData]="DataList"
          [(nzPageIndex)]="PageNum"
          [nzFrontPagination]="false"
          [(nzPageSize)]="PageSize"
          [nzTotal]="TotalCount"
          (nzPageIndexChange)="loadData()"
          (nzPageSizeChange)="loadData()" >
        <thead>
          <tr>
            <!--<th>序号</th>-->
            <th>标识码</th>
            <th>订单号</th>
            <th>贷款人身份证号</th>
            <th>贷款人姓名</th>
            <th>贷款人号码</th>
            <th>产品id</th>
            <th>产品编码</th>
            <th>是否需要家访调查0否 1是</th>
            <th>订单状态,0正常9完成-1终止</th>
            <th>createuser</th>
            <th>createdate</th>
            <th>updateuser</th>
            <th>updatedate</th>
            <th>经办人当前部门</th>
            <th>orgcode</th>
            <th>经办人当前机构</th>
            <th>经办人ID</th>
            <th>业务类型编码（1=信用，2=担保，3=抵押，4=正租，5=反租）</th>
            <th>来源订单号</th>
            <th>业务区域省编号</th>
            <th>业务区域市编号</th>
            <th>业务区域编号</th>
            <th>是否先垫资(0:先垫资后验单证,1:先验单证后垫资)</th>
            <th>是否为二手车(0:新车，1:二手车)</th>
            <th>业务来源方ID</th>
            <th>业务来源类型编码</th>
            <th>打款账号</th>
            <th>经办银行，demand_bank里面ID</th>
            <th>经办银行编码</th>
            <th>经办银行名称</th>
            <th>惠融合作银行机构编码</th>
            <th>合作机构ID</th>
            <th>合作机构单位编号</th>
            <th>银行放款日期</th>
            <th>贷款金额</th>
            <th>是否会签(0:否，1:是)</th>
            <th>面签报告编号</th>
            <th>提车日期</th>
            <th>审批状态(1:审批中,2:审批退回,3:审批通过,4:银行放款成功,5:银行放款失败)</th>
            <th>platno</th>
            <th>corpbankcode</th>
            <th>bankauditname</th>
            <th>acceptname</th>
            <th>deptname</th>
            <th>busisourcename</th>
            <th>sourcecorptype</th>
            <th>sourcecorporgcode</th>
            <th>sourcecorporgname</th>
            <th>applicationcorptype</th>
            <th>applicationcorporgcode</th>
            <th>applicationcorporgname</th>
            <th>isneedsign</th>
            <th>remark</th>
            <th>bankName</th>
            <th>accountName</th>
            <th>tag</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
            <!--<td>{{i +1}}</td>-->
            <td>{{data.keycode}}</td>
            <td>{{data.orderno}}</td>
            <td>{{data.idcard}}</td>
            <td>{{data.realname}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.productid}}</td>
            <td>{{data.productcode}}</td>
            <td>{{data.isneedvisit}}</td>
            <td>{{data.status}}</td>
            <td>{{data.createuser}}</td>
            <td>{{data.createdate}}</td>
            <td>{{data.updateuser}}</td>
            <td>{{data.updatedate}}</td>
            <td>{{data.deptid}}</td>
            <td>{{data.orgcode}}</td>
            <td>{{data.orgid}}</td>
            <td>{{data.acceptid}}</td>
            <td>{{data.servicetypecode}}</td>
            <td>{{data.sourceorderno}}</td>
            <td>{{data.busiprovincecode}}</td>
            <td>{{data.busicitycode}}</td>
            <td>{{data.busiareacode}}</td>
            <td>{{data.isfirstloaning}}</td>
            <td>{{data.issecond}}</td>
            <td>{{data.busisourceid}}</td>
            <td>{{data.busisourcetypecode}}</td>
            <td>{{data.remitaccountnumber}}</td>
            <td>{{data.demandbankid}}</td>
            <td>{{data.bankcode}}</td>
            <td>{{data.demandbankname}}</td>
            <td>{{data.corporgbankcode}}</td>
            <td>{{data.cooperationorgid}}</td>
            <td>{{data.assurerno}}</td>
            <td>{{data.loanday}}</td>
            <td>{{data.loanmoney}}</td>
            <td>{{data.iscountersign}}</td>
            <td>{{data.facereportno}}</td>
            <td>{{data.pickdate}}</td>
            <td>{{data.bankstatus}}</td>
            <td>{{data.platno}}</td>
            <td>{{data.corpbankcode}}</td>
            <td>{{data.bankauditname}}</td>
            <td>{{data.acceptname}}</td>
            <td>{{data.deptname}}</td>
            <td>{{data.busisourcename}}</td>
            <td>{{data.sourcecorptype}}</td>
            <td>{{data.sourcecorporgcode}}</td>
            <td>{{data.sourcecorporgname}}</td>
            <td>{{data.applicationcorptype}}</td>
            <td>{{data.applicationcorporgcode}}</td>
            <td>{{data.applicationcorporgname}}</td>
            <td>{{data.isneedsign}}</td>
            <td>{{data.remark}}</td>
            <td>{{data.bankName}}</td>
            <td>{{data.accountName}}</td>
            <td>{{data.tag}}</td>
            <td>
              <a (click)="editItem(data)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteItem(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card>
</div>