<div class="page-container">
   
  <nz-card [nzBordered]="false">
      <form nz-form [nzLayout]="'inline'"  class="search__form">
          <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
            <nz-col nzMd="8" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="txtsearch">搜索</nz-form-label>
                <nz-form-control>
                  <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="姓名/手机号查询" id="txtsearch">
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col>
              <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'" [nzLoading]="loading">查询</button>
              <a class="icon-more" (click)="expandForm=!expandForm">
                {{expandForm ? '收起' : '展开'}}
                <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
              </a>
            </nz-col>
          </nz-row>
        </form>
        <form  class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null" *ngIf="expandForm">
          <se label="是否有效" line>
              <nz-tag *ngFor="let i of StateArray; let idx = index" nzMode="checkable" [nzChecked]="i.value"
                (nzCheckedChange)="changeState($event, i)">
                {{i.name}}
              </nz-tag>
          </se>
          <se label="按客户类型" line>
              <nz-tag *ngFor="let i of CustomType; let idx = index" nzMode="checkable" [nzChecked]="i.value"
                (nzCheckedChange)="changeState($event, i)">
                {{i.name}}
              </nz-tag>
          </se>
          <se label="按区域" line>
              <nz-cascader
              [nzOptions]="nzOptions"
              [(ngModel)]="values"
              (ngModelChange)="onChanges($event)">
            </nz-cascader>
          </se>
          <se label="按时间" line>
              <nz-cascader
              [nzOptions]="nzOptions"
              [(ngModel)]="values"
              (ngModelChange)="onChanges($event)">
            </nz-cascader>
          </se>
        </form>
  </nz-card>
  <nz-card [nzBordered]="false">
          <!-- <button nz-button (click)="addClick()" [nzType]="'primary'" class="btn-add">
              <i nz-icon type="plus"></i>
              <span>新建</span>
            </button> -->
    <ng-container>
      <nz-table #ajaxTable
          nzShowSizeChanger
          [nzData]="DataList"
          [(nzPageIndex)]="PageNum"
          [nzFrontPagination]="false"
          [(nzPageSize)]="PageSize"
          [nzTotal]="TotalCount"
          nzBordered
          (nzPageIndexChange)="loadData()"
          (nzPageSizeChange)="loadData()"
          >
        <thead>
          <tr>
            <th>序号</th>
            <th>头像</th>
            <th>姓名</th>
            <th>联系方式</th>
            <th>区域</th>
            <th>办理人</th>
            <th>推广客户</th>
            <th>业绩提成</th>
            <th>冻结</th>
            <th>已提现</th>
            <th>可提现</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{i +1}}</td>
            <td><img src="{{data.weChatImg }}" style="height:22px;width:22px;" /> </td>
            <td>{{data.memName || data.weChatName}}</td>
            <td>{{data.memMobile}}</td>
            <td>{{data.region}}</td>
            <td>{{data.customertype}}</td>
            <td>{{data.fromtype}}</td>
            <td>{{data.remark}}</td>
            <td>{{data.freezemoney}}</td>
            <td>{{data.txmoney}}</td>
            <td>{{data.money - data.freezemoney}}</td>
            <td>
              <a (click)="editItem(data)">查看明细</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card>
</div>