<page-header  [tab]="tab">
    <ng-template #tab>
        <nz-button-group class="navItem">
            <button nz-button [nzType]="'primary'" (click)="addClick()">+新增客户</button>
            <button nz-button [nzType]="'primary'" (click)="importClick()">客户导入</button>
          </nz-button-group>
      <nz-tabset [nzSelectedIndex]="pos">
        <nz-tab *ngFor="let i of tabs" [nzTitle]="i.tab" (nzClick)="to(i)"></nz-tab>
      </nz-tabset>
    </ng-template>
  </page-header>
  <router-outlet></router-outlet>
  