<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<!-- [size]="'compact'" col=3 [labelWidth]="80" -->
<!-- error="请填写" required -->
<!--<se label="是否有效" error="请填写">
        <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid">
          <label nz-radio-button *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </se>-->
<form nz-form #f="ngForm" class="mform" se-container="1" gutter="32">
  <se label="订单号">
    <input type="text" name="orderno" nz-input [(ngModel)]="model.orderno" name="orderno" />
  </se>
  <se label="贷款人身份证号">
    <input type="text" name="idcard" nz-input [(ngModel)]="model.idcard" name="idcard" />
  </se>
  <se label="贷款人姓名">
    <input type="text" name="realname" nz-input [(ngModel)]="model.realname" name="realname" />
  </se>
  <se label="贷款人号码">
    <input type="text" name="phone" nz-input [(ngModel)]="model.phone" name="phone" />
  </se>
  <se label="产品id">
    <input type="text" name="productid" nz-input [(ngModel)]="model.productid" name="productid" />
  </se>
  <se label="产品编码">
    <input type="text" name="productcode" nz-input [(ngModel)]="model.productcode" name="productcode" />
  </se>
  <se label="是否需要家访调查0否 1是">
    <input type="text" name="isneedvisit" nz-input [(ngModel)]="model.isneedvisit" name="isneedvisit" />
  </se>
  <se label="订单状态,0正常9完成-1终止">
    <input type="text" name="status" nz-input [(ngModel)]="model.status" name="status" />
  </se>
  <se label="createuser">
    <input type="text" name="createuser" nz-input [(ngModel)]="model.createuser" name="createuser" />
  </se>
  <se label="createdate">
    <input type="text" name="createdate" nz-input [(ngModel)]="model.createdate" name="createdate" />
  </se>
  <se label="updateuser">
    <input type="text" name="updateuser" nz-input [(ngModel)]="model.updateuser" name="updateuser" />
  </se>
  <se label="updatedate">
    <input type="text" name="updatedate" nz-input [(ngModel)]="model.updatedate" name="updatedate" />
  </se>
  <se label="经办人当前部门">
    <input type="text" name="deptid" nz-input [(ngModel)]="model.deptid" name="deptid" />
  </se>
  <se label="orgcode">
    <input type="text" name="orgcode" nz-input [(ngModel)]="model.orgcode" name="orgcode" />
  </se>
  <se label="经办人当前机构">
    <input type="text" name="orgid" nz-input [(ngModel)]="model.orgid" name="orgid" />
  </se>
  <se label="经办人ID">
    <input type="text" name="acceptid" nz-input [(ngModel)]="model.acceptid" name="acceptid" />
  </se>
  <se label="业务类型编码（1=信用，2=担保，3=抵押，4=正租，5=反租）">
    <input type="text" name="servicetypecode" nz-input [(ngModel)]="model.servicetypecode" name="servicetypecode" />
  </se>
  <se label="来源订单号">
    <input type="text" name="sourceorderno" nz-input [(ngModel)]="model.sourceorderno" name="sourceorderno" />
  </se>
  <se label="业务区域省编号">
    <input type="text" name="busiprovincecode" nz-input [(ngModel)]="model.busiprovincecode" name="busiprovincecode" />
  </se>
  <se label="业务区域市编号">
    <input type="text" name="busicitycode" nz-input [(ngModel)]="model.busicitycode" name="busicitycode" />
  </se>
  <se label="业务区域编号">
    <input type="text" name="busiareacode" nz-input [(ngModel)]="model.busiareacode" name="busiareacode" />
  </se>
  <se label="是否先垫资(0:先垫资后验单证,1:先验单证后垫资)">
    <input type="text" name="isfirstloaning" nz-input [(ngModel)]="model.isfirstloaning" name="isfirstloaning" />
  </se>
  <se label="是否为二手车(0:新车，1:二手车)">
    <input type="text" name="issecond" nz-input [(ngModel)]="model.issecond" name="issecond" />
  </se>
  <se label="业务来源方ID">
    <input type="text" name="busisourceid" nz-input [(ngModel)]="model.busisourceid" name="busisourceid" />
  </se>
  <se label="业务来源类型编码">
    <input type="text" name="busisourcetypecode" nz-input [(ngModel)]="model.busisourcetypecode" name="busisourcetypecode" />
  </se>
  <se label="打款账号">
    <input type="text" name="remitaccountnumber" nz-input [(ngModel)]="model.remitaccountnumber" name="remitaccountnumber" />
  </se>
  <se label="经办银行，demand_bank里面ID">
    <input type="text" name="demandbankid" nz-input [(ngModel)]="model.demandbankid" name="demandbankid" />
  </se>
  <se label="经办银行编码">
    <input type="text" name="bankcode" nz-input [(ngModel)]="model.bankcode" name="bankcode" />
  </se>
  <se label="经办银行名称">
    <input type="text" name="demandbankname" nz-input [(ngModel)]="model.demandbankname" name="demandbankname" />
  </se>
  <se label="惠融合作银行机构编码">
    <input type="text" name="corporgbankcode" nz-input [(ngModel)]="model.corporgbankcode" name="corporgbankcode" />
  </se>
  <se label="合作机构ID">
    <input type="text" name="cooperationorgid" nz-input [(ngModel)]="model.cooperationorgid" name="cooperationorgid" />
  </se>
  <se label="合作机构单位编号">
    <input type="text" name="assurerno" nz-input [(ngModel)]="model.assurerno" name="assurerno" />
  </se>
  <se label="银行放款日期">
    <input type="text" name="loanday" nz-input [(ngModel)]="model.loanday" name="loanday" />
  </se>
  <se label="贷款金额">
    <input type="text" name="loanmoney" nz-input [(ngModel)]="model.loanmoney" name="loanmoney" />
  </se>
  <se label="是否会签(0:否，1:是)">
    <input type="text" name="iscountersign" nz-input [(ngModel)]="model.iscountersign" name="iscountersign" />
  </se>
  <se label="面签报告编号">
    <input type="text" name="facereportno" nz-input [(ngModel)]="model.facereportno" name="facereportno" />
  </se>
  <se label="提车日期">
    <input type="text" name="pickdate" nz-input [(ngModel)]="model.pickdate" name="pickdate" />
  </se>
  <se label="审批状态(1:审批中,2:审批退回,3:审批通过,4:银行放款成功,5:银行放款失败)">
    <input type="text" name="bankstatus" nz-input [(ngModel)]="model.bankstatus" name="bankstatus" />
  </se>
  <se label="platno">
    <input type="text" name="platno" nz-input [(ngModel)]="model.platno" name="platno" />
  </se>
  <se label="corpbankcode">
    <input type="text" name="corpbankcode" nz-input [(ngModel)]="model.corpbankcode" name="corpbankcode" />
  </se>
  <se label="bankauditname">
    <input type="text" name="bankauditname" nz-input [(ngModel)]="model.bankauditname" name="bankauditname" />
  </se>
  <se label="acceptname">
    <input type="text" name="acceptname" nz-input [(ngModel)]="model.acceptname" name="acceptname" />
  </se>
  <se label="deptname">
    <input type="text" name="deptname" nz-input [(ngModel)]="model.deptname" name="deptname" />
  </se>
  <se label="busisourcename">
    <input type="text" name="busisourcename" nz-input [(ngModel)]="model.busisourcename" name="busisourcename" />
  </se>
  <se label="sourcecorptype">
    <input type="text" name="sourcecorptype" nz-input [(ngModel)]="model.sourcecorptype" name="sourcecorptype" />
  </se>
  <se label="sourcecorporgcode">
    <input type="text" name="sourcecorporgcode" nz-input [(ngModel)]="model.sourcecorporgcode" name="sourcecorporgcode" />
  </se>
  <se label="sourcecorporgname">
    <input type="text" name="sourcecorporgname" nz-input [(ngModel)]="model.sourcecorporgname" name="sourcecorporgname" />
  </se>
  <se label="applicationcorptype">
    <input type="text" name="applicationcorptype" nz-input [(ngModel)]="model.applicationcorptype" name="applicationcorptype" />
  </se>
  <se label="applicationcorporgcode">
    <input type="text" name="applicationcorporgcode" nz-input [(ngModel)]="model.applicationcorporgcode" name="applicationcorporgcode" />
  </se>
  <se label="applicationcorporgname">
    <input type="text" name="applicationcorporgname" nz-input [(ngModel)]="model.applicationcorporgname" name="applicationcorporgname" />
  </se>
  <se label="isneedsign">
    <input type="text" name="isneedsign" nz-input [(ngModel)]="model.isneedsign" name="isneedsign" />
  </se>
  <se label="remark">
    <input type="text" name="remark" nz-input [(ngModel)]="model.remark" name="remark" />
  </se>
  <se label="bankName">
    <input type="text" name="bankName" nz-input [(ngModel)]="model.bankName" name="bankName" />
  </se>
  <se label="accountName">
    <input type="text" name="accountName" nz-input [(ngModel)]="model.accountName" name="accountName" />
  </se>
  <se label="tag">
    <input type="text" name="tag" nz-input [(ngModel)]="model.tag" name="tag" />
  </se>
</form>
<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid" [nzLoading]="submitting">保存</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>