/* You can add global styles to this file, and also import other style files */
$border-color:#e8e8e8;
$text-border-color: #d9d9d9;
$label-color:rgba(0, 0, 0, 0.55);

body,.ant-table {
    font-family: "PingFang SC", 'Microsoft YaHei UI', 'Microsoft YaHei', "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // font-family: Roboto,San Francisco,"Helvetica Neue",Helvetica,Arial,PingFangSC-Light,"Hiragina Sans GB","WenQuanYi Micro Hei",'microsoft yahei ui','microsoft yahei',sans-serif;
}
.inlineblock{
    display: inline-block;
    vertical-align: top;
}
.content-wrap{
    .addtype-but{
        padding:12px;
        text-align: center;
        border-bottom: 1px solid $border-color;
    }  
}

.ant-table{
    tr,thead tr{
        border: 1px solid $border-color !important;
    }
    .ant-table-placeholder{
        border: 1px solid $border-color;
        border-top:none; 
    }
}
.w100{
    width:100% !important;
}
.tcenter{
    text-align: center !important;
}
.ant-modal-content{
    .addtype-but{
        padding:12px;
        text-align: center;
        border-bottom: 1px solid $border-color;
    }
}
.mform{
    se-error.ant-form-explain{
        display: flex;
      }
}
.ant-form-item{
    margin-bottom: 3px;
}
.color-red{
    color:red;
}
//修正se，没有label
.se-no-label{
    .se__label{
      width:20px !important;
    }
  }

//意见轴
.advicelist{
    margin: 20px; 
    .adviceitem {
        margin-left: 20px;
    }
    .ad{
        margin-left:10px;
        color:red;
    }
}

.nopaddingbodystyle.ant-card{
    .ant-card-body{
        padding:0px !important;
    }
}
.page-container{
    .search__form{
        /*去除下边距*/
        .ant-form-item {
            margin-bottom: 0px;
        }
        .sure-more{
            padding-left: 0px !important;
            .anticon{
                margin-top:8px;
                color: rgba(0,0,0,0.65);;
            }
        }
    }
    .more-form{
        .ngx-address{
            width:350px;
        }
    }
    .addtype-but{
        padding:12px;
        text-align: center;
        border-bottom: 1px solid $border-color;
    }
    .btn-add{ 
        margin-bottom: 12px;
    }
    .ant-table{
        .ant-tag{
            border-radius: 5px !important;
        }
    }
}
.head-page-panel{
    .bk{
        font-size: 14px;
    }
    .title{
        margin-left:10px;
    }
}
.panel-noraml{
    background: #f5f7fa;
}
/**modal*/
.modal-header{
    .modal-title{
        color:#000;
        font-weight: 700;
    }
}
.ngx-address{
    font-size: 14px !important;
    line-height: 22px;
    .ngx-address-title{
        border:1px solid $text-border-color !important;
        margin-top: 3px !important;
    }
    
}

.label-t{
    color:$label-color;
    font-weight: 700;
}
.f16{
    font-size: 16px;
}

.noData{
    .ant-table-placeholder{
        display: none !important;
    }
}
.apprived-item{
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    background: #FAFAFA;
    .p{
        font-weight: 700;
    }
}
/*调整工作流样式*/
.wf-tab{
    >.ant-tabs-bar{
        margin:0px !important;
        border-bottom: 3px solid #1890ff;
      }
    &.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        background: #1890ff;
        border-color: #e8e8e8;
        color: #fff;
        padding-bottom: 1px;
    }
}
.wf-tab-create{
    .ant-tabs-content{
        background: #fff !important;
        padding:10px 0px;
    }
}
/*首页*/
.s-p-t-nav {
    .ant-card-body{
        padding:0px !important;
    }
}

.mk-card-customer-item{
    .mk-card-item-head{
        background: #E4E4E4;
    }
    .ant-card-body{
      padding: 0px 0px !important;
      >.ant-row {
          padding:0px 10px;
          line-height: 30px;;
      }
    }
  }