<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<!-- [size]="'compact'" col=3 [labelWidth]="80" -->
<!-- error="请填写" required -->
<!--<se label="是否有效" error="请填写">
        <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid">
          <label nz-radio-button *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </se>-->
<form nz-form #f="ngForm" class="mform" se-container="1" gutter="32">
  <se label="orderno">
    <input type="text" name="orderno" nz-input [(ngModel)]="model.orderno" name="orderno" />
  </se>
  <se label="productid">
    <input type="text" name="productid" nz-input [(ngModel)]="model.productid" name="productid" />
  </se>
  <se label="productcode">
    <input type="text" name="productcode" nz-input [(ngModel)]="model.productcode" name="productcode" />
  </se>
  <se label="0正常1完成-1终止">
    <input type="text" name="status" nz-input [(ngModel)]="model.status" name="status" />
  </se>
  <se label="父流程">
    <input type="text" name="parentid" nz-input [(ngModel)]="model.parentid" name="parentid" />
  </se>
  <se label="createuser">
    <input type="text" name="createuser" nz-input [(ngModel)]="model.createuser" name="createuser" />
  </se>
  <se label="createdate">
    <input type="text" name="createdate" nz-input [(ngModel)]="model.createdate" name="createdate" />
  </se>
  <se label="updateuser">
    <input type="text" name="updateuser" nz-input [(ngModel)]="model.updateuser" name="updateuser" />
  </se>
  <se label="updatedate">
    <input type="text" name="updatedate" nz-input [(ngModel)]="model.updatedate" name="updatedate" />
  </se>
  <se label="流程定义ID">
    <input type="text" name="processdefid" nz-input [(ngModel)]="model.processdefid" name="processdefid" />
  </se>
</form>
<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid" [nzLoading]="submitting">保存</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>