.alain-default__header-logo-expanded{
    color: #fff;
    font-size: 20pt;
    font-weight: 700;
    text-shadow: antiquewhite;
    text-shadow: 4px 2px 11px #ddd;
    letter-spacing:2px;
}
.alain-default__header-logo{
    // min-width:200px;
    // width:auto;
    // padding:0px 15px 0px 35px;
}
.nav-btn{
    font-size: 12px;
    font-weight: 400;
    a{
        color:#fff;
    }
}