.search__form{
  .ant-form-item{
      margin-bottom: 0px;
  }
  .icon-more{
      margin-left:10px;
  }
}
.page-container{
  .more-form{
      margin-top:14px;
  }
  .btn-add{
      margin-bottom: 12px;
  }
}

.upload-btn{
  vertical-align: bottom;
  line-height: 30px;
  position: relative;
  .input-upload{
    height:100%;
    width:100%;
    position: absolute;
    top: 0px;
    opacity: 0;
  }
}