<div class="modal-header">
  <div class="modal-title">{{data.HeadText}}</div>
</div>
<!-- [size]="'compact'" col=3 [labelWidth]="80" -->
<!-- error="请填写" required -->
<!--<se label="是否有效" error="请填写">
        <nz-radio-group [(ngModel)]="model.isvalid" name="isvalid">
          <label nz-radio-button *ngFor="let item of stateArray" [nzValue]="item.value"><span>{{item.name}}</span></label>
        </nz-radio-group>
      </se>-->
<form nz-form #f="ngForm" class="mform" se-container="2" gutter="32">
  <se label="规格名称" required>
    <input type="text" name="unitname" nz-input [(ngModel)]="model.unitname" name="unitname" required />
  </se>
  <se label="规格单位" required>
    <input type="text" name="unit" nz-input [(ngModel)]="model.unit" name="unit"  required />
  </se>
  <se label="销售价格" required>
      <input type="text" name="price" nz-input [(ngModel)]="model.price" name="price" required />
    </se>
  <se label="售卖价格" required>
    <input type="text" name="currpice" nz-input [(ngModel)]="model.currpice" name="currpice" required />
  </se>
  <se label="公务员价" required>
      <input type="text" name="offprice" nz-input [(ngModel)]="model.offprice" name="offprice" required />
    </se>
</form>
<div class="modal-footer">
  <button nz-button nzType="primary" (click)="saveClick()" type="submit" [disabled]="f.invalid" [nzLoading]="submitting">保存</button>
  <button nz-button class="ml-sm" (click)="cancelClick()">取消</button>
</div>