<div class="page-container">
  <nz-card [nzBordered]="false">
    <form nz-form gutter="32" class="mform">
      <nz-form-item>
        <nz-form-label [nzSpan]="1" nzFor="name">搜索</nz-form-label>
        <nz-form-control [nzSpan]="4">
          <input nz-input [(ngModel)]="searchObject.searchText" name="txtsearch" placeholder="请输入..." id="txtsearch">
        </nz-form-control>
        <nz-form-control [nzSpan]="4">
          <button nz-button type="button" (click)="SearchClick($event)" [nzType]="'primary'"
            [nzLoading]="loading">查询</button>
          <a class="icon-more" (click)="expandForm=!expandForm">
            {{expandForm ? '收起' : '展开'}}
            <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
          </a>
        </nz-form-control>
      </nz-form-item>
    </form>
    <form class="more-form" nz-form se-container="1" size="compact" gutter="4" [labelWidth]="null" *ngIf="expandForm">
      <se label="是否有效" line>
        <nz-tag *ngFor="let i of StateArray; let idx = index" nzMode="checkable" [nzChecked]="i.active"
          (nzCheckedChange)="changeState($event, i)">
          {{i.name}}
        </nz-tag>
      </se>
    </form>
  </nz-card>


      

  <nz-card class="mk-card-customer-item" *ngFor="let item of DataList" (click)="ItemDetail(item)">
    <div nz-row class class="mk-card-item-head">
      <div nz-col nzSpan="3">
        借款人:{{item.customername}}
      </div>
      <div nz-col nzSpan="5">
        身份证号:{{item.idcard}}
      </div>
      <div nz-col nzSpan="5">
        订单号:DPQF13131313131313131
      </div>
      <div nz-col nzSpan="11" class="text-right">
        借款人:订单生成时间2019-09-09 12:12:12
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="18">
        <div nz-row>
          <div nz-col nzSpan="8">
            手机号码:{{item.mobile}}
          </div>
          <div nz-col nzSpan="8">
            经办银行:浙商银行
          </div>
          <div nz-col nzSpan="8">
            开卡进度:开卡审核中
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            分公司:18657181338
          </div>
          <div nz-col nzSpan="8">
            进件来源:XXX有限公司
          </div>
          <div nz-col nzSpan="8">
            经办人:陈小宝
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            贷款金额:3131313
          </div>
          <div nz-col nzSpan="8">
            车辆类型:二手车
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="12">
            车辆信息:保时捷-卡也-2.9T
          </div>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div><button nz-button nzType="primary" [nzSize]="'small'">申请终止订单</button></div>
        <div><button nz-button nzType="primary" [nzSize]="'small'">修改贷款信息</button></div>
        <div><button nz-button nzType="primary" [nzSize]="'small'">补录关联人</button></div>
      </div>
    </div>
  </nz-card>
  <nz-pagination [nzPageIndex]="PageNum" [nzTotal]="TotalCount" (nzPageIndexChange)="loadData()" (nzPageSizeChange)="loadData()" nzShowSizeChanger [nzPageSize]="PageSize"></nz-pagination>


  <!-- 
    
  <nz-card [nzBordered]="false">
    <ng-container>
    <nz-table #ajaxTable nzShowSizeChanger [nzData]="DataList" [(nzPageIndex)]="PageNum" [nzFrontPagination]="false"
        [(nzPageSize)]="PageSize" [nzTotal]="TotalCount" (nzPageIndexChange)="loadData()"
        (nzPageSizeChange)="loadData()">
        <thead>
          <tr>
            <th>标识码</th>
            <th>客户类型</th>
            <th>客户姓名</th>
            <th>联系电话</th>
            <th>身份证</th>
            <th>家庭住址</th>
            <th>户籍</th>
            <th>邮编</th>
            <th>签发机关</th>
            <th>有效类型</th>
            <th>有效开始</th>
            <th>有效结束</th>
            <th>备注</th>
            <th>客户状态</th>
            <th>企业内码</th>
            <th>procinstid</th>
            <th>worktype</th>
            <th>bankcardno</th>
            <th>ifzx</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data; let i = index">
            <td>{{data.keycode}}</td>
            <td>{{data.customertype}}</td>
            <td>{{data.customername}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.idcard}}</td>
            <td>{{data.houseaddress}}</td>
            <td>{{data.censusregister}}</td>
            <td>{{data.zipcode}}</td>
            <td>{{data.organization}}</td>
            <td>{{data.cardtimetype}}</td>
            <td>{{data.startdate}}</td>
            <td>{{data.enddate}}</td>
            <td>{{data.remark}}</td>
            <td>{{data.isvalid}}</td>
            <td>{{data.enterpriseid}}</td>
            <td>{{data.procinstid}}</td>
            <td>{{data.worktype}}</td>
            <td>{{data.bankcardno}}</td>
            <td>{{data.ifzx}}</td>
            <td>
              <a (click)="editItem(data)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteItem(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
  </nz-card> -->
</div>